.tag-container {
  margin-top: 1rem;
  display: flex;
  border-color: black;
  border-radius: 1.56rem;
  border-width: 0.2rem;

  .list-group {
    margin-top: 0.5rem;
  }

  .list-group-item {
    border: 0;
    height: 2.9rem;
    padding: 0;
  }

  .fixed-tag {
    position: absolute;
    background-color: $bg-color;
  }
}
