.sign-box {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: grey;
  border-radius: 20px;

  .form-actions {
    display: flex;
    justify-content: center;
  }

  label {
    display: flex;
    justify-content: center;
  }
}
