@import "../src/stylesheets/variables";
@import "~bootstrap/scss/bootstrap";

@import "../src/stylesheets/components/button";
@import "../src/stylesheets/components/card";
@import "../src/stylesheets/components/icon";
@import "../src/stylesheets/components/menu";
@import "../src/stylesheets/components/pending-to-filter";

@import "../src/stylesheets/layout/header";
@import "../src/stylesheets/layout/session";

body {
  background-color: $bg-color;
}

a,
a:hover {
  text-decoration: none;
}

.col-md-3,
.col-md-4 {
  padding: 0;
}

.container-fluid {
  margin-top: ($spacer);
}

#grid {
  margin-top: 1rem;
  margin-right: 1rem;
}

.active-tags-placeholder {
  height: 38px;
}
