<div class='landing'>
  <div class='heading container'>
    <h1> Bookmarking redefined</h1>
    <h2> Save your content in a categorized way and acces it everywhere</h2>
    <%= image_pack_tag 'media/images/save-tech.svg' %>
  </div>

  <div class='intro container'>
    <h1> We are developers 🖥</h1>
    <p class='intro-text'>
      Researching about ML, digging on new tech stacks, looking for APIs best practices... We end up with a nice amount of resources that have to be somehow stored.
      <br /><br />
      Most of our home-made solutions went over bloating our Pocket inbox, folders of bookmarks, Excel sheets, notes...
      <br /><br />
      We didn't need another read-later app, we needed a toolbox🛠.
      <br /><br />
      SaveTech comes to the rescue, to aggregate all of that on a clean interface.
    </p>
  </div>

  <div class='next-features container'>
    <div class='row'>
      <div class='col'>
        <h1 class='features-title'> For teams </h1>
      </div>
      <div class='col'>
        <h1 class='features-title'> Themable </h1>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <p class='features-content'> Build up your company's knowledge from crowd-base discoveries. <br /> Share your tags with the rest of the team. </p>
      </div>
      <div class='col'>
        <p class='features-content'> Adapt every element of the UI based on your personal preferences. <br /> Select per element or directly import your editor configs.</p>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <%= image_pack_tag 'media/images/share.png' %>
      </div>
      <div class='col'>
        <%= image_pack_tag 'media/images/palette.png' %>
      </div>
    </div>
  </div>

  <div class='how-it-works container'>
    <div class='row'>
      <div class='col'>
        <%= image_pack_tag 'media/images/chrome-badge-big.png' %>
      </div>
      <div class='col'>
        <h2> How it works </h2>
        <ul>
          <li>Install the Chrome plugin and save your favourite links.</li>
          <li>Categorize on save.</li>
          <li>Filter and consume your content on our minimalistic UI.</li>
      </div>
    </div>
  </div>
</div>
