// overrides bootstrap defaults for btn-primary
// $primary: rgba(68, 215, 182, 0.71);
// $link-color: rgba(68, 215, 182, 0.71);

$bg-color: #fafafa;

$primary-pink: #f2b5d4;

$dark-transparent: rgba(0,0,0,0.5);
