header {
  .row {
    margin: 0;
    flex: auto;
  }

  .col-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col-session{
    padding-right: 0;

    .session-buttons {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      .btn {
        border-width: 0;
      }
    }
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
  }

  .navbar-button {
    margin-left: ($spacer * .5);
    margin-right: ($spacer * .5);
  }
}
