<div>
  <%= link_to fa_icon("inbox", text: 'Pending to filter').html_safe,
    pending_to_filter_path,
    class: 'btn btn-light pending-to-filter',
    remote: true
  %>
</div>

<div class="tag-container">
  <ul class='list-group'>
    <% tags&.each do |tag| %>
    <li class='list-group-item d-flex'>
      <%= link_to tag.name, filter_items_path(name: tag.name), class: 'fixed-tag btn btn--themed', remote: true %>
      <%# <span class="badge badge-primary badge-pill">10</span>  TODO add amount of items per tag%>
    </li>
    <% end %>
  </ul>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js'></script>

<script>
  //note, on screen resize fixed buttons won't readjust. It properly distributes on reload, but obviously they don't compact
  var longestTag = Math.max.apply(null, $(".fixed-tag").map(function () { return $(this).outerWidth(); }).get());
  var tagHeight = $('.fixed-tag').outerHeight();
  $('.fixed-tag').each(function() {
    $(this).css({
      left : Math.random() * ($('.tag-container').width() - longestTag),
      // "background-color": randomColor(),
      "mix-blend-mode": 'exclusion',
    });
  });
</script>
