<div class="card tag-container">
    <% tags&.each do |tag| %>
    <%= link_to tag.name, filter_items_path(name: tag.name), class: 'tag btn btn-warning', remote: true %>
    <% end %>
</div>

<script>
  $('.tag').each(function( index ) {
    $(this).css({
      left : Math.random() * ($('.tag-container').width() - $('.tag').outerWidth()),
      top: Math.random() * ($('.tag-container').height() - $('.tag').outerHeight())
    });
  });
</script>

