<div class='welcome container'>
  <h1> Welcome to the platform! You are all set to go </h1>
  <h2> Download the plugin from the Chrome store and start saving your content</h2>
  <%# <a href='https://chrome.google.com/webstore/detail/save-tech/kbkpdhiamlmfjdgcccmiiaclonabehfn'> %>
    <%= image_pack_tag 'media/images/chrome-badge-big.png' %>
  <%# </a> %>
  <div class='video'>
    <video loop autoplay controls muted>
      <source src="<%= asset_pack_path("media/images/save-tech.mp4") %>" type="video/mp4">
    </video>
  </div>
</div>
