<div class="container-fluid">
  <div class='row' >
    <div class='col-sm'>
      <%= render partial: "tags/menu", locals: { tags: current_user&.owned_tags } %>
    </div>
    <div class='col-lg' id='grid'>
      <%= render partial: "grid", locals: { items: @items } %>
    </div>
  </div>
</div>

