<div class = 'col-md-8 offset-2'>
  <h1 class = "text-center">New Item</h1>
  <%= simple_form_for @item, url: items_path do |f| %>
    <%= f.input :link, placeholder: 'Remember to add the schema...(http or https)' %>
    <%= f.input :tag_list, placeholder: 'Comma separated list of tags...' %>

    <%= f.submit "Next", class: 'btn btn-lg btn-primary float-right' %>
  <% end %>
</div>
