.landing {
  .intro, .heading,.how-it-works {
    text-align: center;
  }

  p {
    font-family: 'Space Mono';
  }

  li {
        svg {
      width: 1rem;
    }
  }
  h1 {
    font-family: 'Nunito Black';
    font-weight: 900;
    font-size: 52px;
  }

  h2 {
    font-family: 'Space Mono';
    font-weight: 400;
    font-size: 1.5rem;
    color: $dark-transparent;
  }

  .heading, .intro, .how-it-works {
    border-bottom: 2px solid;
    border-color: $dark-transparent;
  }

  .heading {
    height: 85vh;

    h1 {
      margin-top: 5rem;
      animation: moveInLeft 2s;
    }

    h2 {
      margin-top: 2rem;;
      animation: moveInRight 2s;
    }

    img {
      margin-top: 3rem;
      animation: moveInBottom 1s ease-out 0.75s;
      animation-fill-mode: backwards;
    }

    .btn {
      margin: 5rem auto;
      width:  20%;
      display: block;
      animation: moveInBottom 1.5s ease-out 0.75s;
      animation-fill-mode: backwards;
    }
  }

  .intro {
    height: 55vh;
    h1 {
      margin-top: 7rem;
    }
    .intro-text {
      margin-top: 4rem;
      font-size: 1.2rem;
    }
  }

  .intro, .next-features, .how-it-works {
    padding-bottom: 3rem;
    margin-top: 3rem;

  }

  .how-it-works {
    ul {
      list-style-type: none;
    }
    .row {
      margin-top: 3rem;
    }
  }

  .video {
    padding: 0px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    video {
      width: 100%;
      height: auto;
    }
  }

  .next-features{
    .col {
      text-align: center;
    }
    .features-title {
      font-size: 3.25rem;
    }
    .features-content {
      font-weight: 400;
      // font-size: 1.25rem;
      font-family: 'Space Mono';
    }
  }

  .how-it-works {

  }
}
