@import "bootstrap/scss/bootstrap";
@import "font-awesome";

@import "./variables";
@import "./components/button";
@import "./components/card";
@import "./components/icon";
@import "./components/menu";
@import "./components/pending-to-filter";
@import "./components/sign-box";
@import "./components/edit-box";

@import "./layout/header";

body {
  // background-color: #dbdbdb;
  background-color: $primary-color;
}

a, a:hover {
  text-decoration: none;
  color: black;
}

.col-md-3, .col-md-4 {
  padding: 0;
}

.container-fluid {
  margin-top: ($spacer);
}

#grid {
  margin-top: 1rem;
  margin-right: 1rem;
}

.active-tags-placeholder {
  height: 38px;
}
