@import "bootstrap";
@import "font-awesome";

header {
  .row {
    margin: 0;
    flex: auto;
  }

  .col-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .session-buttons {
    float: right;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-button {
    margin-left: ($spacer * .5);
    margin-right: ($spacer * .5);
  }
}

body {
  background-color: #dbdbdb;
}

.tag-container {
  height: 30rem;
  max-width: 18.75rem;
  display: flex;
  border-color: black;
  border-radius: 1.56rem;
  border-width: 0.2rem;

  .list-group-item {
    border: 0;
    height: 2.6rem;
    padding: 0;
  }

  .fixed-tag {
    position: absolute;
  }
}

.container-fluid {
  margin-top: ($spacer);
}

.pending-to-filter {
  box-sizing: border-box;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 5px;
}

.btn {
  &--themed {
    background-color: #f0a500,
  }
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
