<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify"> Made in collaboration by <a href='https://twitter.com/AlbertoMazaira'>@AlbertoMazaira</a> and <a href='#'>@DarioGhilardi</a></p>
      </div>

      <div class="col-xs-6 col-md-3 quick-links">
        <h6>Quick Links</h6>
        <ul class="footer-links">
        <div class='row'>
          <div class='col'>
            <li><a href="https://devsontrees.com">Devs on trees</a></li>
            <li><a href="https://webrain.it/">Webrain</a></li>
          </div>
          <div class='col'>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </div>
        </div>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; <%= Time.current.year %> All Rights Reserved by
          <a href="https://devsontrees.com">Devs on trees S.L.</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/company/12588233"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
